mat-card{
    text-align: center;
}
mat-card img{
    max-width: 120px;
    
}

mat-card-title{
    text-align: center;
}

mat-grid-tile   {
    /* background: #ccc; */
}




.addButton{
    text-align: center;
}

.noresults{
    width: 100% !important;
}




mat-grid-list{
    /* background: #ccc; */
}