
<h1 mat-dialog-title>Guardar/Actualizar Pokemon</h1>

    <!-- Loading -->
    <app-loading *ngIf="loading"></app-loading>

    <!-- Table -->
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="save()" mat-form>

        <div mat-dialog-content>

            <!-- Nombre -->
            <mat-form-field appearance="outline">
                <input [errorStateMatcher]="matcher"
                        matInput formControlName="nombre" placeholder="Nombre" type="text">
                        
                <!-- Errors -->
                <mat-error *ngIf="form.controls['nombre'].errors?.required" >
                    El nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['nombre'].errors?.maxlength" >
                    El nombre es <strong>muy largo</strong> 
                </mat-error>
            </mat-form-field>


            <!-- Peso -->
            <mat-form-field appearance="outline">
                <input [errorStateMatcher]="matcher"
                        matInput formControlName="peso" placeholder="Peso" type="number">
                
                <!-- Errors -->
               <mat-error *ngIf="form.controls['peso'].errors?.required" >
                    El peso es <strong>requerido</strong>
                </mat-error>            
            </mat-form-field>


            <!-- Experiencia -->
            <mat-form-field appearance="outline">
                <input [errorStateMatcher]="matcher"
                        matInput formControlName="experiencia" placeholder="Nivel de experiencia" type="number">
               <mat-error *ngIf="form.controls['experiencia'].errors?.required" >

                <!-- Errors -->
                    El nivel de experiencia es <strong>requerido</strong>
                </mat-error>                 
                <mat-error *ngIf="form.controls['experiencia'].errors?.min || form.controls['experiencia'].errors?.max" >
                    La experiencia debe ser mayor a <strong>1</strong> y menor a <strong>200</strong>
                </mat-error>
            </mat-form-field>


            <!-- Habilidad -->
            <mat-form-field appearance="outline">
                <mat-select [errorStateMatcher]="matcher" 
                            formControlName="habilidad"
                            placeholder="Escoge tu habilidad" type="text">
                    <mat-option 
                                *ngFor="let habilidad of habilidades"
                                [value]="habilidad.name"
                                > {{habilidad.name}} </mat-option>
                </mat-select>

                <!-- Errors -->
               <mat-error *ngIf="form.controls['habilidad'].errors?.required" >
                    La habilidad es <strong>requerida</strong>
                </mat-error>   
                              
            </mat-form-field>   
            
        </div>

        <!-- Acciones -->
        <div mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancelar</button>

            <button 
                [disabled]="!form.valid"
                (click)="saveForm()" 
                mat-raised-button color="accent" 
                [mat-dialog-close]="true" >
                Aceptar</button>
          </div>        
    </form>


