<mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile colspan="3" rowspan="2">
      <img src="assets/img/logo.png" alt="">
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
        <button routerLink="/pokemons" mat-flat-button color="accent">Modificar Equipo</button>
    </mat-grid-tile>
    <!-- Renderizar Pokemons elegidos -->   

    <mat-grid-tile *ngIf="noteam" colspan="3">
      <h2>Aún no tienes un equipo!</h2>
    </mat-grid-tile>

    <mat-grid-tile class="pokemon-details" colspan="1" rowspan="2"
                   *ngFor="let pokemon of pokemons; i as index">

      <mat-card [id]="pokemon.id" class="card mat-elevation-z2">
        <mat-card-title > {{pokemon.nombre | uppercase}} </mat-card-title>
        <img [src]="pokemon.img" alt="">
        <mat-card-content>
          <p>Nivel de Experiencia: <strong>{{pokemon.experiencia}} </strong></p>
          <p>
              Tu pokemon pesa: <strong>{{pokemon.peso}} kg</strong>
          </p>
          <!-- <p>
              Habilidad especial: <strong>{{pokemon.habilidad}}</strong>
          </p> -->
        </mat-card-content>


        <mat-card-footer>
          <mat-card-actions>
            <button  class="remove-button" mat-fab color="warn" (click)="removePokemon(pokemon)" ><mat-icon>clear</mat-icon></button>
        </mat-card-actions>
        </mat-card-footer>        
      </mat-card>

    </mat-grid-tile>
    
    
  </mat-grid-list>