<div class="container">
    
        <img [src]="pokemon.img" alt="">
    
    <h1 mat-dialog-title>
        {{pokemon.nombre | uppercase}} 
        
    </h1>
    
    <div mat-dialog-content>
        <p>Nivel de Experiencia: <strong>{{pokemon.experiencia}} </strong></p>
        <p>
            Tu pokemon pesa: <strong>{{pokemon.peso}} kg</strong>
        </p>
        <p>
            Habilidad especial: <strong>{{pokemon.habilidad}}</strong>
        </p>
    </div>
    
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>
</div>