
.cont-table{
    width: 100%;
    margin-bottom: 200px;
}

table{
    width: 100%;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: #ccc; */
}

.botones mat-form-field{
    width: 100%;
    padding: 0 20px;
}

.addButton{
    text-align: center;
}