


<!-- Botones de Search y Crear -->
<div class="botones">
    <mat-form-field>
        <input 
            [(ngModel)]="searchKey"
            (keyup)="onApplyFilter()"
            matInput
            placeholder="Buscar un pokemon"
            type="text">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button 
        (click)="openBuildDialog()"
        class="addButton" 
        mat-fab 
        color="primary" >
        <mat-icon>add</mat-icon
    ></button>
</div>

<div class="cont-table mat-elevation-z8">

    <!-- Loading -->
    <app-loading *ngIf="loading"></app-loading>
    
    <!-- NoResults -->
    <img class="noresults" *ngIf="noresults" src="assets/img/noresults.png" alt="">

    <!-- Table Data -->
     <table *ngIf="!loading" mat-table matSort [dataSource]="listData"  >
        
            <!-- Nombre -->
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell [id]="element.id" *matCellDef="let element">{{element.nombre | uppercase}} </td>
            </ng-container>
            
            <!-- Peso -->
            <ng-container matColumnDef="Peso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso</th>
                <td mat-cell [id]="element.id" *matCellDef="let element">{{element.peso}} <small>kg</small></td>
            </ng-container>

            <!-- <ng-container matColumnDef="Stats">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stats</th>
                <td mat-cell [id]="element.id" *matCellDef="let element">Stats </td>
            </ng-container> -->
            
            <!-- Stats -->
            <ng-container matColumnDef="Stats">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stats</th>
                <td mat-cell [id]="element.id" *matCellDef="let element"> 
                    
                    <small *ngFor="let stat of element.stats">
                        <i>{{stat.stat.name | resumeStat}} </i>
                        <strong>{{stat.base_stat}}   </strong>
                    </small>
                </td>
            </ng-container>

            <!-- Experiencia -->
            <ng-container matColumnDef="Experiencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Experiencia</th>
                <td mat-cell [id]="element.id" *matCellDef="let element">{{element.experiencia}}</td>
            </ng-container>
            
            <!-- Habilidad -->
            <ng-container matColumnDef="Habilidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Habilidades</th>
                <td mat-cell [id]="element.id" *matCellDef="let element">

                    <mat-chip-list >
                        <mat-chip *ngFor="let habilidad of element.habilidades" color="accent" selected>{{habilidad.ability.name}}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            
            <!-- Acciones -->
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef></th>

                <!-- openBuildDialogDetails -->

                <td mat-cell style="text-align: right;" *matCellDef="let row">
                    <button 
                        (click)="openBuildDialog(row)"
                        mat-icon-button 
                        color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
    
                    <button 
                        (click)="deletePokemon(row)"
                        mat-icon-button 
                        color="warn">
                        <mat-icon>delete_outline</mat-icon>
                    </button>

                    <button
                        (click)="openBuildDialogDetails(row)"
                        mat-icon-button
                        color="accent">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Añadir a Equipo -->
            <ng-container matColumnDef="Equipo">
                <th mat-header-cell *matHeaderCellDef></th>

                <td mat-cell style="text-align: right;" *matCellDef="let row">
                    <button
                        mat-raised-button
                        (click)="addToTeam(row, $event)"
                        color="primary"
                        >
                        <mat-icon>favorite</mat-icon>
                        Escoger
                    </button>
                </td>
            </ng-container>
            

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        
    </table>
    
    <mat-paginator showFirstLastButtons [pageSizeOptions]="[1,10,25,max]" [pageSize]="10"></mat-paginator>
</div>